# Keep hacking first, it pulls in the right versions of flake8, mccabe and pyflakes
virtualenv # MIT

sphinx # BSD
doc8 # Apache-2.0
sphinxmark # Apache-2.0
sphinx_rtd_theme
git+https://github.com/rmk135/sphinxcontrib-disqus.git@e69562436b0ea77f35b52404f41c377b24505a01#egg=sphinxcontrib-disqus
